.acc-item1 {
	border-radius: 20px;
	margin-left: 20px;
	width: 250px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(228, 228, 228);
	border-radius: 10px;
	padding: 10px;
	gap: 10px;

	// &:not(:last-child),
	// >div:not(:last-child) {
	// 	margin-bottom: 10px;
	// }

	input {
		border: 0;
		outline: none;
		border-radius: 10px;
		font-size: 15px;
		padding: 5px;
		flex: 1;
	}
	
	.btn {
		font-size: 25px;
		transition: .3s;
		cursor: pointer;

		&:hover {
			color: green;
		}
	}
}